<ion-content>
  <div class="dashboard-container">
    <app-admin-header></app-admin-header>
    <section class="dashboard-heading">
      <div>
        <h1>Tổng quan</h1>
        <p>Theo dõi tình hình hoạt động của hệ thống</p>
      </div>

      <label class="date-filter">

        <ion-icon
          name="calendar-outline">
        </ion-icon>

        <input
          #dateRange
          readonly
          placeholder="Chọn khoảng thời gian">

        <ion-icon
          name="chevron-down-outline">
        </ion-icon>

      </label>
    </section>

    <app-the-thong-ke></app-the-thong-ke>

    <div class="content-grid">
      <section class="revenue-section">
        <app-bieu-do-doanh-thu></app-bieu-do-doanh-thu>
      </section>

      <section class="booking-section">
        <app-bieu-do-don-dat></app-bieu-do-don-dat>
      </section>
    </div>

    <div class="tables-grid">
      <section class="tours-section">
        <app-bang-tour-noi-bat></app-bang-tour-noi-bat>
      </section>

      <section class="orders-section">
        <app-bang-don-dat-moi></app-bang-don-dat-moi>
      </section>
    </div>
  </div>
</ion-content>
