<ion-content>
  <app-page-banner
    title="Liên hệ"
    background="assets/images/banner.jpg"
    [breadcrumbs]="[
    { label:'Trang chủ', link:'/' },
    { label:'Liên hệ', link:'/contact' },
  ]">
  </app-page-banner>
  <!-- CONTACT INFO -->
  <section class="contact-info-section">

    <div class="section-heading">
      <span>Liên hệ ngay</span>
      <h2>THÔNG TIN LIÊN HỆ</h2>
    </div>

    <div class="info-grid">

      <!-- address -->
      <div class="info-card">

        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="content">
          <h4>Địa chỉ</h4>
          <p>137/3 Cách Mạng Tháng 8, P7, Q.Tân Bình, TP.HCM</p>
        </div>

      </div>

      <!-- phone -->
      <div class="info-card">

        <div class="icon-box">
          <ion-icon name="call-outline"></ion-icon>
        </div>

        <div class="content">
          <h4>Số điện thoại</h4>
          <p>(+84) 0313 728 397</p>
          <p>(+84) 0313 728 397</p>
        </div>

      </div>

      <!-- email -->
      <div class="info-card">

        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="content">
          <h4>Email</h4>
          <p>info@themona.global</p>
          <p>info@themona.global</p>
        </div>

      </div>

    </div>
  </section>


  <!-- FORM + VIDEO -->
  <section class="contact-video-section">

    <div class="contact-wrapper">

      <!-- FORM -->
      <div class="contact-form-card">

        <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>

        <div class="form-grid">

          <input
            type="text"
            placeholder="Họ tên*" />

          <input
            type="email"
            placeholder="Email*" />

          <select>
            <option>Hà Nội</option>
            <option>Đà Nẵng</option>
            <option>TP.HCM</option>
          </select>

          <textarea
            rows="5"
            placeholder="Nội dung">
          </textarea>

        </div>

        <button>
          GỬI LIÊN HỆ
        </button>

      </div>

      <!-- PLAY VIDEO -->
      <div class="video-side">

        <button
          class="play-btn"
          (click)="openYoutube()">

          <ion-icon name="play"></ion-icon>

        </button>

      </div>

    </div>


  </section>


  <!-- MAP -->
  <section class="map-section">

    <iframe
      src="https://maps.google.com/maps?q=tan%20binh&t=&z=13&ie=UTF8&iwloc=&output=embed"
      loading="lazy">
    </iframe>

  </section>


  <!-- YOUTUBE MODAL -->
  <div
    class="video-modal"
    *ngIf="showVideo">

    <div
      class="overlay"
      (click)="closeYoutube()">
    </div>

    <div class="modal-content">

      <button
        class="close-btn"
        (click)="closeYoutube()">
        ✕
      </button>

      <iframe
        [src]="youtubeUrl"
        allowfullscreen>
      </iframe>

    </div>

  </div>
  <app-footer></app-footer>
</ion-content>
