:host{
  display:block;
}
.bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: start;

  margin-top: 16px;
}
@media (max-width: 992px) {
  .bottom-grid {
    grid-template-columns: 1fr;
  }
}
