/* =========================
   HEADER
========================= */

.custom-toolbar{
  width: 100%;
}

/* khung chứa toàn bộ header */
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1344px;
  height: 103px;
  margin: auto;
}


/* =========================
   LOGO
========================= */

.logo{
  width: 229px;
  height: 69px;

  padding: 0 12px;
}


/* =========================
   MENU ĐIỀU HƯỚNG
========================= */

.menu{
  padding-left: 70px;
}

/* danh sách menu */
.menu ion-buttons{
  display: flex;
  align-items: center;
  gap: 30px;
}

/* xóa margin mặc định của ionic */
.menu ion-button{
  margin: 0;
}

/* nút menu */
.nav-btn{
  font-size: 16px;
  padding: 38px 0;

  /* giữ chữ thường */
  text-transform: none;

  /* xóa background hover mặc định của ionic */
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --background-focused: transparent;

  --box-shadow: none;
}

/* span chứa text */
.menu .nav-btn span{
  position: relative;
  padding-bottom: 6px;
}

/* tạo line dưới chữ */
.menu .nav-btn span::after{
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  width: 0;
  height: 1px;

  background: #000;

  transition: width 0.3s ease;
}

/* hover hiện line */
.menu .nav-btn:hover span::after{
  width: 100%;
}


/* =========================
   NÚT ĐẶT NGAY
========================= */
.btn{
  padding:0 12px;
}

.book-btn{
  position:relative;
  overflow:hidden;

  min-width:120px;
  height:44px;
  padding:0 24px;

  border:none;
  border-radius:10px;

  background:#4caf50;
  color:#fff;

  font-size:14px;
  font-weight:600;
  text-transform:uppercase;

  cursor:pointer;
  z-index:1;
}

/* lớp vàng */

.book-btn::before{
  content:'';

  position:absolute;
  top:0;
  left:0;

  width:0;
  height:100%;

  background:#ffc107;

  transition:.35s ease;
  z-index:-1;
}

/* hover trái -> phải */

.book-btn:hover::before{
  width:100%;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
/* desktop hiện */
.desktop-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 999;
  background: #fff;
  box-shadow:none !important;
  border-bottom:none !important;
}



/* mobile */
@media screen and (max-width: 768px){

  .desktop-header{
    display: none !important;
  }

}
/* desktop hiện */
@media screen and (max-width:1024px){

  .desktop-header{
    display:none !important;
  }

}
.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;

  color: #159640;

  transition: .25s;
}

.user-info:hover {
  color: #0f7b34;
}
.user-menu-popover {
  --offset-x: -60px;
  --width: 260px;
}
.user-info{
  display:flex;
  align-items:center;
  gap:10px;
  cursor:pointer;
}

.avatar{
  width:40px;
  height:40px;

  border-radius:50%;

  background:#159640;

  color:#fff;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:16px;
  font-weight:600;

  flex-shrink:0;

  user-select:none;
}
.user-name {
  font-size: 16px;
  font-weight: 600;
  color: #159640;
  text-transform: uppercase;
}
