<div class="footer" #footerRoot>

  <!-- background -->
  <div class="footer-bg">
    <img
      src="/assets/images/banner_footer.jpg"
      alt="footer background"
    />
  </div>

  <div class="footer-overlay"></div>

  <!-- newsletter -->
  <div class="newsletter">

    <h2>
      Đăng ký ngay nhận tin tức
    </h2>

    <div class="newsletter-box">

      <input
        type="email"
        placeholder="Nhập địa chỉ email..."
      />

      <button>
        ĐĂNG KÝ
      </button>

    </div>

  </div>

  <div class="footer-line"></div>

  <!-- content -->
  <div class="footer-content">

    <!-- about -->
    <div class="footer-col about">

      <img
        src="/assets/images/home/logo-main-light-e1739937233975.png"
        class="footer-logo"
        alt="logo"
      />

      <p>
        Với sự tận tâm và chuyên nghiệp, chúng tôi cam kết mang đến cho bạn
        những kỷ niệm vô giá và độc đáo trên mỗi hành trình.
      </p>

      <div class="socials">

        <a
          href="https://facebook.com/"
          target="_blank"
        >
          <ion-icon name="logo-facebook"></ion-icon>
        </a>

        <a
          href="https://twitter.com/"
          target="_blank"
        >
          <ion-icon name="logo-twitter"></ion-icon>
        </a>

        <a
          href="https://linkedin.com/"
          target="_blank"
        >
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>

        <a
          href="https://instagram.com/"
          target="_blank"
        >
          <ion-icon name="logo-instagram"></ion-icon>
        </a>

      </div>

    </div>

    <!-- menu -->
    <div class="footer-col">

      <h3>Danh mục</h3>

      <ul>

        <li>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <a>Trang chủ</a>
        </li>

        <li>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <a>Giới thiệu</a>
        </li>

        <li>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <a>Tour</a>
        </li>

        <li>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <a>Tin tức</a>
        </li>

        <li>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <a>Liên hệ</a>
        </li>

      </ul>

    </div>

    <!-- contact -->
    <div class="footer-col">

      <h3>Liên hệ</h3>

      <div class="contact-item">

        <div class="contact-icon">
          <img src="assets/icon/gioithieu/phone.svg">
        </div>
        <div class="contact-text">
          <a href="tel:0313728397">(+84) 0313-728-397</a>
          <a href="tel:0313728397">(+84) 0313-728-397</a>
        </div>
      </div>

      <div class="contact-item">
        <div class="contact-icon">
          <img src="assets/icon/gioithieu/envelope.svg">
        </div>


        <div class="contact-text">
          <a href="mailto:info@themona.global">
            info@themona.global
          </a>

          <a href="mailto:info@themona.global">
            info@themona.global
          </a>
        </div>
      </div>

      <div class="contact-item">

        <div class="contact-icon">
          <img src="assets/icon/gioithieu/location-dot.svg">
        </div>
        <div class="contact-text">
          <a>1073/23 CMT8</a>
          <a>P7, Q.Tân Bình, TP.HCM</a>
        </div>
      </div>

    </div>

    <!-- instagram -->
    <div class="footer-col">

      <h3>Instagram</h3>

      <div class="insta-grid">

        <a
          href="https://instagram.com/"
          target="_blank"
          class="insta-item"
        >
          <img src="/assets/images/home/gallery_1_1.jpg">

          <div class="insta-overlay">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>
        </a>

        <a
          href="https://instagram.com/"
          target="_blank"
          class="insta-item"
        >
          <img src="/assets/images/home/gallery_1_2.jpg">

          <div class="insta-overlay">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>
        </a>

        <a
          href="https://instagram.com/"
          target="_blank"
          class="insta-item"
        >
          <img src="/assets/images/home/gallery_1_3.jpg">

          <div class="insta-overlay">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>
        </a>

        <a
          href="https://instagram.com/"
          target="_blank"
          class="insta-item"
        >
          <img src="/assets/images/home/gallery_1_4.jpg">

          <div class="insta-overlay">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>
        </a>

        <a
          href="https://instagram.com/"
          target="_blank"
          class="insta-item"
        >
          <img src="/assets/images/home/gallery_1_5.jpg">

          <div class="insta-overlay">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>
        </a>

        <a
          href="https://instagram.com/"
          target="_blank"
          class="insta-item"
        >
          <img src="/assets/images/home/gallery_1_6.jpg">

          <div class="insta-overlay">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>
        </a>

      </div>
    </div>

  </div>

  <!-- bottom -->
  <div class="footer-bottom">
    © Thiết kế và lập trình bởi MONA.Media / Website
  </div>

</div>
