<ion-content>
  <app-admin-header></app-admin-header>
  <div class="page-content">

    <app-breadcrumb></app-breadcrumb>

    <app-tour-toolbar></app-tour-toolbar>

    <app-tour-summary-cards></app-tour-summary-cards>

    <app-tour-filter-bar></app-tour-filter-bar>

    <app-tour-table

      [tours]="tours"

      [loading]="loading"

      [totalItems]="totalItems"

      [currentPage]="currentPage"

      [totalPages]="totalPages"

      [selectedTours]="selectedTours"

      [allSelected]="allSelected"

      (toggleAllEvent)="toggleAll($event)"

      (toggleTourEvent)="toggleTour($event.id, $event.checked)">

    </app-tour-table>
  </div>
</ion-content>
