
<ion-content>
  <app-admin-header></app-admin-header>
  <div class="page-content">

    <app-breadcrumb></app-breadcrumb>

    <app-tour-toolbar
      (export)="exportExcel()"
      (add)="goToAddTour()">
    </app-tour-toolbar>

    <app-tour-summary-cards
      [statistics]="statistics">
    </app-tour-summary-cards>

    <app-tour-filter-bar
      (filterChanged)="onFilterChanged($event)">
    </app-tour-filter-bar>

    <app-tour-table

      [tours]="tours"

      [loading]="loading"

      [currentPage]="currentPage"

      [pageSize]="query.limit ?? 10"

      [totalPages]="totalPages"

      [totalItems]="totalItems"

      [selectedTours]="selectedTours"

      [allSelected]="allSelected"

      (edit)="editTour($event)"

      (toggleAllEvent)="onToggleAll($event)"

      (toggleTourEvent)="onToggleTour($event)"

      (bulkDelete)="bulkDelete($event)"

      (bulkActivate)="bulkActivate($event)"

      (bulkDeactivate)="bulkDeactivate($event)"

      (previous)="previousPage()"

      (next)="nextPage()">

    </app-tour-table>
  </div>
</ion-content>
