<div class="summary-grid">

  @for (item of summaryCards; track item.title) {

    <article class="summary-card">

      <div
        class="summary-icon"
        [style.background]="item.background"
        [style.color]="item.color">

        <ion-icon [name]="item.icon"></ion-icon>

      </div>

      <div class="summary-content">

        <span>{{ item.title }}</span>

        <strong>{{ item.value }}</strong>

        <small>

          <ion-icon
            name="trending-up-outline">
          </ion-icon>

          {{ item.description }}

        </small>

      </div>

    </article>

  }

</div>
