<ion-content>

  <div class="page-content">
    <app-admin-header></app-admin-header>
    <app-breadcrumb></app-breadcrumb>

    <app-basic-info
      [tour]="tour"
      [selectedFile]="selectedFile"
      [imagePreview]="imagePreview"
      (fileSelected)="onFileSelected($event)">
    </app-basic-info>

    <app-album
      (imagesChanged)="onAlbumChanged($event)">
    </app-album>

    <app-highlights></app-highlights>

    <div class="bottom-grid">

      <app-itinerary></app-itinerary>

      <app-faq></app-faq>

    </div>

    <app-action-footer></app-action-footer>

  </div>

</ion-content>
