
<ion-content>
  <app-admin-header></app-admin-header>
  <div class="page-content">
  <app-breadcrumb></app-breadcrumb>
  <app-tour-form
    [tour]="tour"
    [imagePreview]="imagePreview"
    [selectedFile]="selectedFile"
    [isSaving]="isSaving"

    (coverSelected)="onFileSelected($event)"

    (albumChanged)="tour.albumImages = $event"

    (highlightsChanged)="tour.highlights = $event"

    (itinerariesChanged)="tour.itineraries = $event"

    (faqsChanged)="tour.faqs = $event"

    (save)="saveTour()"

    (cancelClicked)="cancel()">
  </app-tour-form>
  </div>
</ion-content>
