/* =========================
   FILTER BOX
========================= */

.filter-box{
  display:flex;
  align-items:center;
  position: absolute !important;
  width:calc(100% - 60px);
  margin:0 auto;
  max-width: 1320px;
  max-height: 88px;
  padding:20px;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background:#fff;

  border:2px solid #4caf50;
  border-radius:16px;
  box-shadow:
    0px 20px 20px rgba(204, 204, 204, 0.25);

  z-index: 9999 !important;
}

/* =========================
   ITEM
========================= */

.filter-item{
  flex:1;
  display:flex;
  align-items:center;
  gap:14px;
  padding:0 24px;
  min-height:52px;
  border-right:1px solid #E5E5E5;
  position:relative;
}

.filter-item:last-child{
  border-right:none;
}

/* =========================
   DESTINATION / CHOICES
========================= */
.choices{
  margin:0 !important;
  width:100%;
}

.choices__inner{
  display:flex !important;
  align-items:center !important;

  border:none !important;
  background:transparent !important;
  box-shadow:none !important;
  border-radius:0 !important;

  padding:0 !important;
  min-height:auto !important;
  height:auto !important;
}

.choices__list--single{
  padding:0 !important;
}

.choices__item{
  font-size:18px;
  font-weight:500;
  color:#777;
}

/* =========================
   DROPDOWN
========================= */

.dropdown-filter{
  position:relative;
}

.filter-preview{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  cursor:pointer;
}

.filter-preview span{
  color:#6E7070;
  font-size:16px;
}

.filter-preview ion-icon{
  font-size:20px;
  color:#333;

  flex-shrink:0;
}

.dropdown-filter{
  position:relative;
}
/* =========================
   PANEL
========================= */
.filter-panel{
  position:absolute;
  top:calc(100% + 16px);
  left:20px;

  width:320px;
  min-width:320px;

  background:#fff;
  border-radius:5px;

  padding:22px;

  box-shadow:
    0 18px 40px rgba(0,0,0,.12);

  z-index:9999;

  animation:fadeDown .25s ease;
}

/* destination option only */

.filter-panel > div{
  cursor:pointer;
}

@keyframes fadeDown{

  from{
    opacity:0;
    transform:translateY(8px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}

/* =========================
   SLIDER
========================= */

.slider{
  width:100%;
  margin-bottom:18px;
}

/* track */

:host ::ng-deep .noUi-target{
  height:8px !important;

  border:none !important;
  border-radius:999px !important;

  background:#E8F3E9 !important;

  box-shadow:none !important;
}

/* active range */

:host ::ng-deep .noUi-connect{
  background:#4CAF50 !important;
}

/* =========================
   HANDLE
========================= */

:host ::ng-deep .noUi-handle{
  width:22px !important;
  height:22px !important;

  border:3px solid #4CAF50 !important;
  border-radius:50% !important;

  background:#fff !important;

  box-shadow:
    0 4px 12px rgba(76,175,80,.25) !important;

  cursor:pointer;

  transition:.25s ease !important;
}

:host ::ng-deep .noUi-horizontal .noUi-handle{
  right:-11px !important;
  top:-8px !important;
}

/* remove default */

:host ::ng-deep .noUi-handle::after{
  display:none !important;
}

/* green center */

:host ::ng-deep .noUi-handle::before{
  content:'' !important;

  position:absolute;

  width:8px;
  height:8px;

  border-radius:50%;

  background:#4CAF50;

  top:50%;
  left:50%;

  transform:translate(-50%, -50%);

  display:block !important;
}

/* hover */

:host ::ng-deep .noUi-handle:hover{
  transform:scale(1.08);

  box-shadow:
    0 8px 20px rgba(76,175,80,.35) !important;
}

/* =========================
   RANGE VALUES
========================= */

/* price input smaller */

.range-values{
  display:flex;
  justify-content:space-between;
  gap:12px;
  width:100%;
}

.range-values input{
  width:calc(50% - 6px);
  height:44px;

  padding:0 12px;

  border:1px solid #E0E0E0;
  border-radius:10px;

  background:#fff;

  text-align:center;

  font-size:14px;
  font-weight:500;

  color:#555;

  flex:none;
}

/* =========================
   BUTTON
========================= */

.search-btn{
  background:#4caf50;
  color:#fff;
  border:none;
  border-radius:10px;
  padding:12px 14px;
  font-size:14px;
  font-weight:500;
  cursor:pointer;
  margin-left:20px;
  transition:.3s;
  line-height: 1.3rem;
  text-transform: uppercase;
  width: 100%;
  max-width: 100px;
}

.search-btn:hover{
  transform:translateY(-2px);
}
/* =========================
   MOBILE
========================= */

@media screen and (max-width:768px){

  .filter-box{
    flex-direction:column;

    gap:24px;

    padding:22px;
  }

  .filter-item{
    width:100%;

    padding:0 0 22px;

    border-right:none;
    border-bottom:1px solid #E8E8E8;
  }

  .filter-panel{
    width:100%;
    left:0;
  }

  .search-btn{
    width:100%;
  }

}
.preview-left{
  display:flex;
  align-items:center;
  gap:12px;
  flex:1;
}

.filter-icon{
  font-size:24px;
  color:#48B04D;
  flex-shrink:0;
}

.arrow-icon{
  font-size:18px;
  color:#222;
  flex-shrink:0;
}

.filter-item select{
  flex:1;
  border:none;
  outline:none;
  background:transparent;
  appearance:none;
  font-size:18px;
  color:#666;
  cursor:pointer;
}



/* =========================
   DESTINATION PANEL
========================= */

.destination-panel{
  position:absolute;
  top:calc(100% + 14px);
  left:0;

  width:320px;

  background:#fff;

  border:1px solid #DCDCDC;
  border-radius:4px;

  padding:0;

  box-shadow:none;

  overflow:hidden;

  z-index:9999;
}

/* option */

.destination-option{
  padding:18px 22px;

  font-size:18px;
  color:#222;

  cursor:pointer;

  border-bottom:1px solid #E5E5E5;

  transition:.2s;
}

.destination-option:last-child{
  border-bottom:none;
}

.destination-option:hover{
  background:#F8F8F8;
}





/* TABLET */

@media(max-width:991px){

  .filter-box{
    width:100%;
    padding:20px;
    border-radius:20px;
  }

  .filter-item{
    width:100%;
  }

  .filter-preview{
    min-height:56px;
  }

  .filter-panel{
    width:100%;
  }

}
/* MOBILE */

@media(max-width:767px){

  .filter-box{

    width:100%;

    padding:20px;

    border-radius:20px;

    display:flex;
    flex-direction:column;
    gap:10px;
  }

  /* item */

  .filter-item{
    width:100%;
    border:none;
    padding:0;
  }

  /* row */

  .filter-preview{

    width:100%;
    min-height:52px;

    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .preview-left{
    display:flex;
    align-items:center;
    gap:12px;
  }

  /* text */

  .filter-preview span{
    font-size:14px;
  }

  /* icon */

  .filter-item img{
    width:18px;
    height:18px;
  }

  .arrow-icon{
    font-size:18px;
  }

  /* panel */

  .filter-panel{
    width:100%;
    margin-top:10px;
  }

  /* slider input */

  .range-values{
    gap:10px;
  }

  .range-values input{
    width:100%;
    font-size:13px;
  }

  /* button */

  .search-btn{

    width:120px;
    height:40px;

    margin:10px auto 0;

    font-size:14px;
    border-radius:10px;
  }

}
/* MOBILE FILTER FIX */

@media(max-width:767px){

  .filter-box{

    height:100%;
    min-height:300px;

    overflow:visible !important;

    padding:20px;

    display:flex;
    flex-direction:column;
    gap:12px;

    position:relative;
    z-index:5;

    width:calc(100% - 24px);

    margin:170px auto 0;   /* sửa chỗ này */

    background:#fff;

    border:1px solid #58BE63;
    border-radius:20px;

    box-shadow:
      0 10px 25px rgba(0,0,0,.06);
  }

  /* item */

  /* bỏ hộp trắng item đầu */

  .destination-filter{
    background:transparent !important;
    border:none !important;
    box-shadow:none !important;
    border-radius:0 !important;
    padding:0 !important;
  }

  /* toàn bộ item */

  .filter-item{
    background:transparent !important;
    border:none !important;
    box-shadow:none !important;
  }

  /* chỉ giữ line ngăn */

  .filter-preview{
    border-bottom:1px solid #E6ECE6;
    border-radius:0 !important;
    background:transparent !important;
  }

  /* item cuối bỏ border */

  .filter-item:last-of-type
  .filter-preview{
    border-bottom:none;
  }

  /* icon + text */

  .preview-left{
    display:flex;
    align-items:center;
    gap:12px;
  }

  .filter-item img{
    width:18px;
    height:18px;
  }

  .filter-preview span{
    font-size:14px;
  }

  /* button */

  .search-btn{

    width:110px;
    height:42px;


    border-radius:10px;
  }

  .filter-panel{
    width:100%;
    overflow:hidden;
  }

  .slider,
  .noUi-target{
    width:100% !important;
    max-width:100% !important;
  }

  .range-values{
    display:flex;
    gap:10px;
    width:100%;
  }

  .range-values input{
    flex:1;
    min-width:0;   /* tránh tràn */
  }

}
@media(min-width:768px) and (max-width:991px){

  .filter-box{
    width:100%;
    padding:20px;
    max-width: 800px;
  }

}
@media screen and (min-width:769px) and (max-width:1024px){

  .offer-section{
    padding:70px 30px 90px;
    overflow:hidden;
    position:relative;
  }

  /* grid giống mẫu */

  .offer-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
      "top top"
      "left right";

    gap:40px;
    align-items:start;
  }

  /* TOP */

  .offer-left{
    grid-area:top;
    text-align:left;
  }

  .sec-title{
    font-size:42px;
    line-height:1.2;
    margin-bottom:28px;
  }

  /* countdown */

  .counter{
    display:flex;
    align-items:center;
    gap:12px;
    flex-wrap:nowrap;
    margin:34px 0;
    padding:0;
  }

  .counter li{
    width:82px;
    height:82px;
    min-width:82px;

    border:1.5px solid #57c65a;
    border-radius:50%;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .separator{
    display:none;
  }

  .counter li strong{
    font-size:28px;
  }

  .counter li span{
    font-size:14px;
  }

  /* button */

  .explore-btn{
    display:inline-flex;
    justify-content:center;
    align-items:center;

    width:170px;
    height:52px;
    margin-top:5px;
  }

  /* LEFT */

  .offer-middle{
    grid-area:left;
    width:100%;
    margin-top:10px;
  }

  .accordion-item{
    margin-bottom:16px;
  }

  .accordion-header h3{
    font-size:22px;
  }

  /* RIGHT */

  .offer-right{
    grid-area:right;

    display:flex;
    justify-content:center;
    align-items:flex-start;
  }

  .offer-right img{
    width:100%;
    max-width:340px;
    border-radius:28px;
    object-fit:cover;

    transform:rotate(7deg);
  }

  /* xe */

  .destination-decor--van{
    width:90px;
    left:25px;
    bottom:15px;
    z-index:1;
  }

  .filter-preview span{
    color:#6E7070;
    font-size:14px;
  }

}
